body{
    margin: 0px;
}
section{
    display: grid;
}
::-webkit-scrollbar{
    display: none;
}

header{
    position: absolute;
    width: 100%;
    text-align: right;
}
.nav{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.sli{
    height: 5px;
    width: 30px;
    margin-top: 5px;
    border-radius: 30px;
    background: linear-gradient(170deg, #adf6ff, #018fff);
}
.ocean{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    animation: fadeout 500ms;
}
.ocean #n1{
    color: #0095ff;
}
.ocean #n2{
    color: #0584ff;
}
.searchbox{
    display: flex;
    width: 85%;
    margin: auto;
    height: 43px;
    box-sizing: border-box;
    padding: 0px 0px 0px 10px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    margin-top: 15px;
    border-bottom-style: solid;
    border-bottom-color: rgb(52, 126, 255);
    border-bottom-width: 2px;
    background-color: white;
    /* transition: 400ms; */
    animation: fadein 2s;
}
.searchbox input{
    width: 100%;
    border: none;
    outline: 0;
    caret-color: #0584ff;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #018fff;
}
.searchbox button{
    width: 50px;
    margin: 0 auto;
    padding: 0px;
    background: transparent;
    border: none;
    outline: 0;
    margin-top: 3px;
    cursor: pointer;
}
#toph{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #f54c06;
}
div#nav{
    position: absolute;
    width: 95%;
    text-align: center;
    margin: auto;
    background: #020202;
    padding: 10px;
    opacity: 97%;
    /* margin-top: 115px; */
    height: 300px;
}
.cntst{
    display: inline-block;
    /* overflow-x: auto; */
    /* display: flex; */
    text-align: center;
    margin-top: 20px;
    
}
.cont{
    margin-top: 30px;
    display: inline-block;
}
.content{
    text-align: center;
    display: inline-block;
}
.content .imgbox{
    width: fit-content;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 5px;
    margin: 0px 5px 0px 10px;
    border-radius: 8px;
}
.content img{
    width: 70px;
    height: 70px;
}
.content p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 7px;
    font-weight: 600;
    max-width: 95px;
}section.social {
    margin-top: 10px;
}
#cid{
    animation: fadein 2s;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
@keyframes fadeout {
    0%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}
.abost{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
.abo{
    color: #03a9f4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.about button{
    padding: 10px;
    background: white;
    border: none;
    opacity: 100%;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 2px 5px 0px #7a7a7a;
}
/* .tk{
    text-align: center;
    display: inline-block;
} */